<div 
	class="col-xs-12 col-sm-12 col-md-12 col-lg-12 motor-header"
	ng-controller="headerController as headerCtrl">
	<div class="navbar navbar-fixed-top">
		<a class="navbar-brand" ui-sref="homepage">Motorcycle</a>

		<ul class="nav navbar-nav" ng-if="!headerCtrl.isAuthenticated">
			<li>
				<a role="button" ng-click="headerCtrl.openSignupModal()"><span class="glyphicon glyphicon-user"></span> Register</a>
			</li>
			<li>
				<a role="button" ng-click="headerCtrl.openLoginModal()"><span class="glyphicon glyphicon-log-in"></span> Login</a>
			</li>
		</ul>

		<ul class="nav navbar-nav" ng-if="headerCtrl.isAuthenticated">
			<li>
				<a href="#"><strong>Hi, {{ headerCtrl.user.username }}</strong></a>
			</li>
			<li>
				<a href="#" ng-click="headerCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
			</li>
		</ul>

		<form class="navbar-form pull-right">

			<span class="lead" ng-show="headerCtrl.totalPrice()">
				<strong>
					<span><small>Total Price: </small></span>
					{{ headerCtrl.totalPrice() | currency : '$' : 0}}
				</strong>
			</span>

			<a role="button" ng-show="headerCtrl.totalPrice()" ng-click="headerCtrl.openCheckoutModal()" class="label label-success">Checkout</a>
			
			<button 
			role="button" 
			class="btn btn-primary btn-lg"
			ng-click="headerCtrl.openCartModal()">
			
				<span
					class="glyphicon glyphicon-shopping-cart"
				></span>
				<span class="badge" ng-show="headerCtrl.cartLength">
					{{ headerCtrl.cartLength }}
				</span>

			</button>
			
			<input type="text" style="width: 200px;"  placeholder="Search motors...">
			<button type="submit" class="btn btn-primary">
				Search <span class="glyphicon glyphicon-search"></span>
			</button>
		</form>
	</div>
</div>
