.motor-hompage .thumbnail {
  width: 300px;
  height: 300px;
}

.motor-hompage .thumbnail img {
  height: 150px;
}

.thumbnail:hover {
	box-shadow: 1px 1px 5px 5px;
}

.motor-hompage strong {
	color: #DD3B3B;
}